<nav style="margin-bottom: 16px;">
  <button mat-button routerLinkActive="mat-accent" routerLink="/basic">
    Basic
  </button>
  <button mat-button routerLinkActive="mat-accent" routerLink="/nested">
    Nested
  </button>
  <button mat-button routerLinkActive="mat-accent" routerLink="/array">
    Array
  </button>
  <button mat-button routerLinkActive="mat-accent" routerLink="/valid">
    Valid
  </button>
  <button mat-button routerLinkActive="mat-accent" routerLink="/final">
    Final
  </button>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
